* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

a {
	font-family: Tahoma;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	text-decoration: none;
}

.wrapper {
	width: 100%;
}

.container {
	display: flex;
	max-width: 1170px;
	margin: 0 auto;
}

.description {
	width: 530px;
	height: 315px;
	margin-left: 510px;
	margin-top: 81px;
	margin-right: 238px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.description h1 {
	margin: 0;
	font-family: Tahoma;
	font-size: 48px;
	font-weight: 700;
}

.description h3 {
	margin-top: 6px;
	margin-left: 4px;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: 400;
}

.description p {
	margin-top: 0px;
	margin-left: 4px;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}

.description h2 {
	margin-top: 30px;
	margin-left: 3px;
	font-family: Tahoma;
	font-size: 48px;
	font-weight: 400;
	line-height: 27px;
}

.img_1 {
	width: 404px;
	float: left;
	margin-top: -48px;
}
.links {
	margin-top: 65px;
	margin-left: 600px;
	width: 502px;
	height: 67px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.button_1 {
	width: 175px;
	height: 67px;
	color: #ffffff;
	border-radius: 5px;
	background-color: #f05a22;
	padding: 18px 45px;
}
.button_2 {
	width: 287px;
	height: 67px;
	border-radius: 5px;
	border: 2px solid #f05a22;
	color: #f05a22;
	padding: 16px 28px;
}
.pay {
	width: 100%;
	height: 408px;
	text-align: center;
	margin-top: 318px;
	background-color: #f2f2f2;
	border: 1px solid #ffffff;
}
.pay h3 {
	color: #333333;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
}
p {
	color: #333333;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}
.elements {
	margin: 91px 138px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.elem-1 {
	width: 181px;
	height: 102px;
	text-align: center;
}
.elem-2 {
	width: 241px;
	height: 102px;
	text-align: center;
}
.elem-3 {
	width: 194px;
	height: 101px;
	text-align: center;
}
.elem-4 {
	width: 194px;
	height: 104px;
	text-align: center;
}
.photos {
	margin: 0 auto;
	width: 1137px;
	height: 659px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
}
.title-1 {
	text-align: center;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
}
