html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd,
q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin:0;
    padding:0;
    border:0;       
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

html, body {
    width: 100%;
    height: 100%;
        
}

* {
    box-sizing: border-box;        
}

p {
    font-family: "Arial MT";    
}

h3 {
    font-family: "Arial - Bold MT";
}

.background {    
    background-color: #ccc;    
    width: 100%;
    height: 100%; 
    position: absolute; 
}

.box-1 { 
    display: inline-block; 
    max-width: 1200px;
    width: 70%;    
    height: 503px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);   
    padding: 64px 50px 50px 50px;      
}

.text-1 {
    display: inline-block;    
    font-size: 23px; 
    position: absolute; 
    padding: 10px 10px 50px 400px;     
}

.text-2 {
    font-size: 15px;
    display: inline-block;     
    position: absolute;
    left: 450px; 
    top: 130px; 
}

.text-3 {
    left: 450px; 
    top: 220px; 
    font-size: 15px;
    display: inline-block;     
    position: absolute;
}

.text-4 {
    left: 450px; 
    top: 270px;     
    font-size: 30px;
    display: inline-block;     
    position: absolute;
}

.picture-1 {
    display: inline-block;             
    position: absolute;    
    padding: 10px 10px 50px 10px;
    
}   

.button-1 { 
    top:380px;
    left: 450px;       
    max-width: 252px; 
    width: 25%;  
    max-height: 50px;
    height: 150%;
    background-color: #ec744a;
    color: #ffffff;
    font-size: 19px;
    position: absolute;
    border-style: none;
    display: inline-block; 
}    